.branco{
    --fdButton_Clickable_Height:2.75rem;
    --fdButton_Padding_X:0.625rem;
    --fdButton_Min_Width:2.25rem;
    -webkit-box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    --fdButtonColor:var(--sapButton_TextColor);
    --fdButtonBorderColor:var(--fdButtonPrioritizedBorderColor,var(--sapButton_BorderColor));
    --fdButtonBackgroundColor:var(--fdButtonPrioritizedBackgroundColor,var(--sapButton_Background));
    align-items:center;
    appearance:none;
    background-color:transparent;
    background-color:var(--fdButtonBackgroundColor);
    background-image:none;
    border:0;
    border-color:var(--fdButtonBorderColor);
    border-radius:var(--sapButton_BorderCornerRadius);
    border-style:solid;
    border-width:var(--sapButton_BorderWidth);
    box-sizing:border-box;
    color:var(--sapTextColor);
    color:var(--fdButtonColor);
    cursor:pointer;
    display:inline-block;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    font-family:var(--sapFontFamily);
    font-size:var(--sapFontSize);
    font-weight:400;
    forced-color-adjust:none;
    height:var(--fdButton_Height);
    justify-content:center;
    line-height:normal;
    margin:0;
    max-height:var(--fdButton_Height);
    min-width:var(--fdButton_Min_Width);
    outline:0;
    padding:0;
    padding-left:calc(var(--fdButton_Padding_X) - var(--sapButton_BorderWidth));
    padding-right:calc(var(--fdButton_Padding_X) - var(--sapButton_BorderWidth));
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow:var(--fdButton_Text_Shadow);
    user-select:none;
    vertical-align:middle;
    white-space:nowrap
}
