#createNewPushEvent{
margin-left: 20px;
}

button {
 appearance: none;
 background-color: #FAFBFC;
 border: 1px solid rgba(27, 31, 35, 0.15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
 box-sizing: border-box;
 color: #24292E;
 cursor: pointer;
 display: inline-block;
 font-family: "72", "72full", Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
 list-style: none;
 padding: 6px 16px;
 position: relative;
 transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
 word-wrap: break-word;
 float: left;
 margin-right: 10px;
}

button:hover {
 background-color: #F3F4F6;
 text-decoration: none;
 transition-duration: 0.1s;
}

button:disabled {
 background-color: #FAFBFC;
 border-color: rgba(27, 31, 35, 0.15);
 color: #959DA5;
 cursor: default;
}

button:active {
 background-color: #EDEFF2;
 box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
 transition: none 0s;
}

button:focus {
 outline: 1px transparent;
}

button:before {
 display: none;
}

button:-webkit-details-marker {
 display: none;
}

.search-style-group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.search-style {
  width: 100%;
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search-style::placeholder {
  color: #9e9ea7;
}

.search-style:focus,
input:hover {
  outline: none;
  border-color: rgba(212, 212, 212, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(206 206 206 / 10%);
}

.search-style-icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

#infoError {
 color: red;
}

#infoSuccess {
 color: green;
}

#itemList {
  border-collapse: collapse;
  width: 90%;
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 20px;
}

#noPermissionLabel {
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#itemList td {
  border: 1px solid #ccc;
  padding: 8px;
}

#itemList tr:nth-child(even){background-color: #f2f2f2;}

#itemList tr:hover {background-color: #ccc;}

#myForm {
 font-family: "72", "72full", Arial, Helvetica, sans-serif;
 font-size: 12px;
 margin-left: 20px;
 margin-top: 20px;
}

#myForm textarea, select, input[type=datetime-local], input[type=number] {
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
